script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer="")
script(src="js/_swiper-bundle.min.js" defer="")
script(src="js/_ion.rangeSlider.min.js" defer="")
script(src="js/_rellax.min.js" defer="")
script(src="js/script.min.js?ver=5" defer="")
