footer.footer.inner
    .footer__main
        .footer__col._main
            a.footer__logo(href="")
                i.icon.icon-logo
            p._limited Streamrise – Продвижение twitch каналов
            p Copyright 2025
        nav.footer__col
            .footer__title Полезные ссылки
            a.gray(href="") Пользовательское соглашение
            a.gray(href="") Политика обработки персональных данных
            a.gray(href="") Пользовательское соглашение
        .footer__col
            .footer__title Полезные ссылки
            p.gray консультация
                br
                a.unnderline(href="") streamrise@streamrise.ru
            .social
                a(href="")
                    i.icon.icon-ig
                a(href="")
                    i.icon.icon-dc
        .footer__col._pay
            .footer__title Способы оплаты
            .payments
                img(src="img/visa.svg" alt="")
                img(src="img/mastercard.svg" alt="")
                img(src="img/yoomoney.svg" alt="")
                img(src="img/webmoney.svg" alt="")
            p.gray ИП Богачев Александр Михайлович
                br
                | ИНН: 237201958986
    .footer__bottom Используя сайт Вы соглашаетесь с пользовательским соглашением . Не является публичной офертой. Все цены указаны в ознакомительных целях.



