input.header__toggle#header-toggle(type="checkbox")
header.header.inner
    a.header__logo(href="")
        i.icon.icon-logo
    nav.header__menu
        .megamenu
            .megamenu__link услуги
            .megamenu__drop
                .megamenu__list
                    b Выберите #[span.color сервис]
                    .megamenu__item
                        a.service-icon._tiny._twitch(href="")
                            img(src="img/twitch.svg" alt="")
                        .megamenu__sublist
                            .megamenu__title Услуги #[span twitch]
                            a(href="") Накрутка зрителей
                            a(href="") Накрутка фолловеров
                            a(href="") Накрутка просмотров
                            a(href="") Чат боты
                    .megamenu__item._active
                        a.service-icon._tiny._trovo(href="")
                            img(src="img/trovo.png" alt="")
                        .megamenu__sublist
                            .megamenu__title Услуги #[span trovo]
                            a(href="") Накрутка зрителей
                            a(href="") Накрутка фолловеров
                            a(href="") Накрутка просмотров
                            a(href="") Чат боты
                    .megamenu__item
                        a.service-icon._tiny._kick(href="")
                            img(src="img/kick.png" alt="")
                        .megamenu__sublist
                            .megamenu__title Услуги #[span kick]
                            a(href="") Накрутка зрителей
                            a(href="") Накрутка фолловеров
                            a(href="") Накрутка просмотров
                            a(href="") Чат боты
                    .megamenu__item
                        a.service-icon._tiny._youtube(href="")
                            img(src="img/youtube.png" alt="")
                        .megamenu__sublist
                            .megamenu__title Услуги #[span youtube]
                            a(href="") Накрутка зрителей
                            a(href="") Накрутка фолловеров
                            a(href="") Накрутка просмотров
                            a(href="") Чат боты
                    .megamenu__item
                        a.service-icon._tiny._discord(href="")
                            img(src="img/discord.png" alt="")
                        .megamenu__sublist
                            .megamenu__title Услуги #[span discord]
                            a(href="") Накрутка зрителей
                            a(href="") Накрутка фолловеров
                            a(href="") Накрутка просмотров
                            a(href="") Чат боты
                    .megamenu__item
                        a.service-icon._tiny._dlive(href="")
                            img(src="img/dlive.svg" alt="")
                        .megamenu__sublist
                            .megamenu__title Услуги #[span dlive]
                            a(href="") Накрутка зрителей
                            a(href="") Накрутка фолловеров
                            a(href="") Накрутка просмотров
                            a(href="") Чат боты
        a(href="") Контакты
        a(href="") Отзывы
        a(href="") БЛОГ
        a(href="") FAQ
        a(href="") Объем трафика
    .header__btns
        a(href="")
            i.icon.icon-user
        a(href="")
            i.icon.icon-cart
        span
        a(href="")
            i.icon.icon-ig
        a(href="")
            i.icon.icon-dc
    label.header__menu-btn(for="header-toggle")
        i.icon.icon-menu
        i.icon.icon-close
