section.section.description._col-1-2.mb-20.inner
    .description__main
        h2.h1 О накрутке #[span.color TWITCH]
        .text._gray
            p Видеостриминговый сервис Twitch, специализирующийся на компьютерных играх и проведении стримов, трансляций киберспортивных турниров, уже давно завоевал благосклонность многих мировых и российских геймеров, а также знаменитостей. Однако аудитория этого сервиса с 2011 года постоянно расширяется, поэтому каждый пользователь хочет получать всё больше внимания. Чтобы быстро и беспроблемно увеличить количество просмотров и подписчиков, стоит воспользоваться услугами нашего сервиса.
        a.btn(href="") Читать все
    .description__text.decor
        img.decor__img._bg12(src="img/bg-ellipse-1.png" alt="")
        img.decor__img._bg11(src="img/decor-1.png" alt="")
        img.decor__img._bg9.rellax(src="img/decor-4.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5")
        .text._bg2
            h3 #[span.color Накрутка TWICH] для новой аудитории
            p Купить накрутку Твич – значит:
            ul
                li получить новую аудиторию (чем больше зрителей на Твич-стриме, тем более живое общение происходит в чате, что является дополнительным плюсом для зрителей при выборе контента для последующего просмотра);
                li увеличить активность на своём аккаунте и попасть в топ социальной сети, используя небольшой «допинг» по накрутке;
                li получить накрутку онлайна на Твиче;
                li заинтересовать своих подписчиков интересным, уникальным контентом;
                li получить новых зрителей игровых стримов и выпускаемых видео.