article.article.mb-10
    .article__body
        aside.article__col
            .article__author
                .person-info
                    img.person-info__img(src="img/banner-7.png" alt="" loading="")
                    .person-info__main
                        .h5 Александр Кравцов
                        p Контент-маркетолог
                .article__author-btn
                    a.btn._low(href="") все Статьи автора
            .article__toc
                .toc._active
                    a.toc__title(href="")
                        .h5.color Содержание статьи
                    .toc__list
                        a(href="#") Кому и зачем нужен Twitch?
                        a(href="#") Как использовать Twitch?
                        a(href="#") Как стримить на Twitch?
                        a(href="#") Программное обеспечение
                        a(href="#") Оборудование для вещания
                        a(href="#") Инструменты Twitch для разработчиков
        .article__col
            .article__header
                .h2-alt Повышение доходности и продвижение Twitch-канала: как проверить канал на накрутку Твич
                .article__info
                    p 24 июня 2023
                    p Обновлено 24 июня 2023
            .article__text.block-bg.decor
                img.decor__img._bg19(src="img/circle-bg.svg" alt="")
                img.decor__img._bg20(src="img/circle-bg.svg" alt="")
                .text-alt
                    h2 Кому и зачем нужен Twitch?
                    p Игры, которые транслируют люди, могут быть самыми разными, от малоизвестных инди-игр до популярнейших. Можно найти стримы с популярными Minecraft, StarCraft, World of Warcraft, симуляторами типа The Sims, шутерами от первого лица типа Halo или Call of Duty, файтингами и гонками. Иногда можно встретить олдскульные игры. Никаких ограничений.
                    p Twitch также поддерживает киберспортивные мероприятия, матчи между киберспортсменами, которые освещаются профессиональными комментаторами; часто транслирует видео с мероприятий, посвященных играм, типа E3, BlizzCon, PAX East и PAX Prime.
                    p Вы можете использовать сайт, чтобы найти себе любимых игроков, любимые игры, получить впечатление от игры, найти новые, просто посмотреть стрим перед сном или с утра, ну или узнать игровые хитрости. Можно найти себя в играх, персонализировать стримеров или просто в социальной атмосфере на сайте.
                    img(src="img/img-1.png" alt="" loading="")
                    p Игры, которые транслируют люди, могут быть самыми разными, от малоизвестных инди-игр до популярнейших. Можно найти стримы с популярными Minecraft, StarCraft, World of Warcraft, симуляторами типа The Sims, шутерами от первого лица типа Halo или Call of Duty, файтингами и гонками. Иногда можно встретить олдскульные игры. Никаких ограничений.
                    h2 Кому и зачем нужен Twitch?
                    p Игры, которые транслируют люди, могут быть самыми разными, от малоизвестных инди-игр до популярнейших. Можно найти стримы с популярными Minecraft, StarCraft, World of Warcraft, симуляторами типа The Sims, шутерами от первого лица типа Halo или Call of Duty, файтингами и гонками. Иногда можно встретить олдскульные игры. Никаких ограничений.
                    p Twitch также поддерживает киберспортивные мероприятия, матчи между киберспортсменами, которые освещаются профессиональными комментаторами; часто транслирует видео с мероприятий, посвященных играм, типа E3, BlizzCon, PAX East и PAX Prime.
                    p Вы можете использовать сайт, чтобы найти себе любимых игроков, любимые игры, получить впечатление от игры, найти новые, просто посмотреть стрим перед сном или с утра, ну или узнать игровые хитрости. Можно найти себя в играх, персонализировать стримеров или просто в социальной атмосфере на сайте.
                    img(src="img/img-2.png" alt="" loading="")
                    p Игры, которые транслируют люди, могут быть самыми разными, от малоизвестных инди-игр до популярнейших. Можно найти стримы с популярными Minecraft, StarCraft, World of Warcraft, симуляторами типа The Sims, шутерами от первого лица типа Halo или Call of Duty, файтингами и гонками. Иногда можно встретить олдскульные игры. Никаких ограничений. Игры, которые транслируют люди, могут быть самыми разными, от малоизвестных инди-игр до популярнейших. Можно найти стримы с популярными Minecraft, StarCraft, World of Warcraft, симуляторами типа The Sims, шутерами от первого лица типа Halo или Call of Duty, файтингами и гонками. Иногда можно встретить олдскульные игры. Никаких ограничений.
                    .btns._tiny
                        a.btn._alt._tiny(href="") #
                        a.btn._alt._tiny(href="") twitch
                        a.btn._alt._tiny(href="") зрители
                        a.btn._alt._tiny(href="") канал
                        a.btn._alt._tiny(href="") накрутка


