extends ../layout/layout
block title
    | index
block head
block content
    .article-page.inner._pt.mb-20
        img.page-bg-decor.rellax(src="img/fig-14.png" alt="" loading="" data-rellax-speed="5" data-rellax-percentage="0.5")
        include _article
        include _news
block end

