.inner._pt
    .page-banner._alt._with-tab
        h1.h0.color Отзывы
        p Мы всегда рады вашей обратной связи! В этом разделе вы можете ознакомиться с отзывами наших клиентов о работе сервиса
        a.btn._tab(href="") оставить отзыв
        img.no-tablet(src="img/banner-14.png" alt="" loading="")
section.news-block.mb-20.block-bg.decor
    img.decor__img._bg22(src="img/bg-ellipse-3.png" alt="")
    img.decor__img._bg1.rellax(src="img/fig-8.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5" style="transform: translate3d(0px, -33px, 0px);")
    img.decor__img._bg24.rellax(src="img/decor-7.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5" style="transform: translate3d(0px, -50px, 0px);")
    .feedbacks._autoheight
        .feedback._alt-bg
            .feedback__header
                .feedback__name
                    span M
                    b Maxx
                img.feedback__rating(src="img/star-5.svg" alt="")
            p._big Отличный сервис! Всё понятно, быстро и надёжно! Резу льтат превзошёл ожидания, спасибо!
            .feedback__tag Название услуги
        .feedback._alt-bg
            .feedback__header
                .feedback__name
                    span M
                    b Maxx
                img.feedback__rating(src="img/star-5.svg" alt="")
            p._big Отличный сервис! Всё понятно, быстро и надёжно! Резу льтат превзошёл ожидания, спасибо!
            .feedback__tag Название услуги
        .feedback._alt-bg
            .feedback__header
                .feedback__name
                    span M
                    b Maxx
                img.feedback__rating(src="img/star-5.svg" alt="")
            p._big Отличный сервис! Всё понятно, быстро и надёжно! Резу льтат превзошёл ожидания, спасибо!
            .feedback__tag Название услуги
        .feedback._alt-bg
            .feedback__header
                .feedback__name
                    span M
                    b Maxx
                img.feedback__rating(src="img/star-5.svg" alt="")
            p._big Отличный сервис! Всё понятно, быстро и надёжно! Резу льтат превзошёл ожидания, спасибо!
            .feedback__tag Название услуги
    .pagination
        a._arrow(href="")
            i.icon.icon-left
        a._active(href="") 1
        a(href="") 2
        a(href="") 3
        a(href="") 4
        a(href="") 5
        a._arrow(href="")
            i.icon.icon-right

