section.section.description._col-2-1.mb-20.inner
    .description__main
        h2.h1 Что такое #[span.color Twitch], #[span.color Trovo], #[span.color Kick] и #[span.color YouTube]?
        .text._gray
            p Стример сотрудничает с Twitch напрямую. Он зарабатывает на подписках на его канал и рекламу внутри платформы. Блогер на YouTube с текущим уровнем Cost Per View в СНГ приходится тяжеловато. Деньги, которые поступают от Google за творчество, оцениваются как маленький бонус, нежели способ заработка. Ютуберы вынуждены активно продавать свой рекламный инвентарь, но на Twitch стримеры не находятся в активном поиске рекламодателей. Kick же создан изначально для стримеров казино. Сейчас Кик уже развивается по стопам Твича.
        a.btn(href="") Читать все
    .description__text.decor
        img.decor__img._bg12(src="img/bg-ellipse-3.png" alt="")
        img.decor__img._bg14(src="img/decor-3.png" alt="")
        img.decor__img._bg13.rellax(src="img/decor-5.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5")
        .text._bg2
            h3 Зрители Twitch, YouTube, Trovo
            p Вы хотите поскорее прокачать свой аккаунт? Любите находиться в центре внимания? Вам надоело писать посты и проводить прямые эфиры в пустоту? Тогда, добро пожаловать на наш сайт по раскрутке социальных сетей, накрутке просмотров, а также лайков на таких станциях как YouTube, Twitch и многие другие.