section.section.callback.mb-20.inner
    img.callback__decor(src="img/reg-text.svg" alt="")
    .callback__main
        .callback__bg
            img(src="img/banner-10.png" alt="")
        .callback__form.decor
            img.decor__img._bg4.rellax(src="img/fig-4.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5")
            img.decor__img._bg5.rellax(src="img/fig-5.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5")
            h2.h2 Регистрация
            .inputs
                input.input._high(type="text" placeholder="Ваш емейл")
                input.input._high(type="password" placeholder="Пароль")
                input.input._high(type="password" placeholder="Повторите пароль")
            .callback__btn
                a.btn(href="") Зарегестрироваться