section.section
    .section__title.mb-8
        h2.h2 #[span.color Как заказать накрутку] #[br]подписчиков в Твич?
    .steps
        .step
            img.step__bg(src="img/num-1.svg" alt="")
            .step__num 1
            .h3.color Авторизуйтесь
            .big-text Зарегистрируйтесь или авторизуйтесь в нашем личном кабинете на сайте.
        .step
            img.step__bg(src="img/num-2.svg" alt="")
            .step__num 2
            .h3.color Пополните баланс
            .big-text Пополнить баланс вы можете следующими способами: VISA, MasterCard, МИР, Юmoney, BTC и др.
        .step
            img.step__bg(src="img/num-3.svg" alt="")
            .step__num 3
            .h3.color Оформите задачу
            .big-text И в завершение оформите задачу на накрутку подписчиков в Твич.