section.main-screen.inner
    .main-screen__content
        .main-screen__header
            .h2.gradient-color TWITCH
            h1.h0 накрутка #[br]#[span.color Чат ботов]
            .main-screen__text Накрутить чат ботов в Твич за 0.25 за подписчика
        .btns
            a.btn(href="") зарегистрироваться и оформить задачу
        .main-screen__name
            img(src="img/banner-twitch.png" alt="")
    img.main-screen__bg(src="img/main-scr-bg.svg" alt="")
    img.main-screen__img(src="img/banner-5.png" alt="")