section.section
    .section__title.mb-4
        h2.h2 Почему выбирают #[span.color наш сервис]
    .advants._auto
        .advant._bg-1
            .advant__icon
                img(src="img/icon-5.png" alt="")
            .h3 автоматическая панель управления
            .big-text Полностью автоматическая панель управления позволяет легко накручивать зрителей в режиме реального времени! Плати только за то что используешь!
        .advant._bg-2
            .advant__icon
                img(src="img/icon-6.png" alt="")
            .h3 Огромный опыт в индустрии
            .big-text Огромный опыт в этой индустрии, подскажем вам как увеличить вашу аудиторию на Twitch в разы!
        .advant._bg-3
            .advant__icon
                img(src="img/icon-7.png" alt="")
            .h3 Мощный буст вашего Twitch
            .big-text Мы знаем все и предлагаем любые услуги по продвижению вашего канала Twitch, включая накручивание просмотров и подписчиков!