section.section
    .section__header.mb-8
        .section__title._left
            h2.h1 Отзывы
            p Отзывы клиентов, которые уже воспользовались сервисом
        a.btn(href="") СМОТРЕТЬ ВСЕ ОТЗЫВЫ
    .feedbacks
        .feedback
            .feedback__header
                .feedback__name
                    span M
                    b Maxx
                img.feedback__rating(src="img/star-5.svg" alt="")
            p._big Быстро и качевственно. Буду пользоваться еще!
            .feedback__tag Название услуги
        .feedback
            .feedback__header
                .feedback__name
                    span M
                    b Maxx
                img.feedback__rating(src="img/star-4.svg" alt="")
            p._big Очень доволен результатом! Зрители пришли мгновенно, без проблем и рисков!
            .feedback__tag Название услуги
        .feedback
            .feedback__header
                .feedback__name
                    span M
                    b Maxx
                img.feedback__rating(src="img/star-3.svg" alt="")
            p._big Лучший сайт для продвижения! Всё просто, быстро и безопасно! Мгновенный результат, всё работает идеально!
            .feedback__tag Название услуги