section.main-screen.inner
    .main-screen__content
        .main-screen__header
            h1.h0 накрутка #[img(src="img/text-kick.png" alt="")]
            .main-screen__text Онлайн-накрутка подписчиков, зрителей и просмотров для #[b.color3 Kick-каналов] – быстрое и эффективное продвижение вашего стрима!
        .btns
            a.btn(href="") НАЧАТЬ РАСКРУТКУ
    .main-screen__name
        img(src="img/banner-kick.png" alt="")
    img.main-screen__bg(src="img/main-scr-bg.svg" alt="")
    img.main-screen__img(src="img/banner-3.png" alt="")