section.section.mb-20
    .warranties
        .section__title._left
            h2.h1 #[span.color Гарантии] #[br]на наши услуги
            p Гарантия распространяется на все услуги без исключений
        .warranties__list
            .warranty
                .h3 Бан исключен
                p Ваш канал не могут забанить, иначе любой мог бы забанить любой канал.
            .warranty
                .h3 Возврат средств
                p Если услуга оказана не в полном объёме, Вы вправе потребовать возврат или частичную компенсацию. Так же перезапуск.
            .warranty
                .h3 Компенсация
                p Мы компенсируем дни, часы при сбое либо недокрутах.
            .warranty
                .h3 Анонимность
                p Данные никому не передаем, вся статистика анонимна.