section.section.mb-20.inner.block-bg2.about.decor
    img.decor__img._bg2.rellax(src="img/fig-9.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5")
    img.decor__img._bg7(src="img/circle-bg.svg" alt="")
    .about__main
        h2.h1.color О нас
        .about__text
            .text.gray
                h3 Что мы можем?
                p Вместе с Streamrise вы можете легко увеличить количество зрителей, просмотров и подписчиков на канал, используя личный кабинет
                h3 Безопасно ли продвигать канал twitch у нас?
                p Абсолютно безопасно. Мы предпринимаем множество мер для обеспечения безопасности вашего аккаунта и вашей конфиденциальности. Мы не запрашиваем ваш пароль или учетные данные и никогда не нарушаем условия соглашения Twitch. Тысячи довольных клиентов, любят наш сервис и продолжают сотрудничать!
        .text._bg
            h3.color Преимущества сервиса Streamrise
            ul.list._color
                li Невероятно гибкая настройка услуг.
                li Полный возврат средств при тех. неполадках.
                li Безопасные системы оплаты
                li Сотрудники отдела поддержки 24/7.
                li Полная автоматизация всех процессов.
    img.about__img(src="img/banner-11.png" alt="")
    img.about__bg(src="img/banner-12.png" alt="")
