section.section.mb-20.inner
    .section__title.mb-4
        h2.h2 Почему выбирают #[span.color наш сервис]
        p Воспользуйся нашим продуктом и цени свое время , запуск в течение 5 секунд.
    .advants
        .advant._bg-1
            .advant__icon
                img(src="img/icon-5.png" alt="")
            .h3 Защищеный вход
            .big-text Ваши данные находятся под защитой
        .advant._bg-2
            .advant__icon
                img(src="img/icon-8.png" alt="")
            .h3 Полная аноним&shy;ность
            .big-text Мы не запрашиваем у вас никаких личных данных. Никто не сможет узнать что вы были наши клиентом.
        .advant._bg-3
            .advant__icon
                img(src="img/icon-9.png" alt="")
            .h3 Личная панель управления
            .big-text Онлайн пополнение баланса. Гибкая настройка. Заказ исполняется сразу после создания.
        .advant._bg-4
            .advant__icon
                img(src="img/icon-10.png" alt="")
            .h3 Низкие цены на тарифы
            .big-text Мы гордимся тем, что у нас цены ниже ЛЮБЫХ конкурентов!