section.section.description.mb-20.inner
    .description__main
        h2.h1 Зачем #[br]#[span.color продвигать канал?]
        .advants-simple
            .advant-simple
                .h5 Оказаться в ТОПе
                p.gray._big Занять лидирующие позиции среди других стримеров и завоевать внимание зрителей.
            .advant-simple
                .h5 Подписчики
                p.gray._big Повышение онлайна на стриме приводит к приходу новых подписчиков. Они – потенциальные постоянные зрители, которые приведут канал к успеху.
            .advant-simple
                .h5 Общение
                p.gray._big Активность зрителей в чате подогревает интерес к стриму, что увеличивает количество аудитории. Чем более «живой» чат, тем решительнее люди принимают решение о подписке на канал.
            .advant-simple
                .h5 Реклама и донаты
                p.gray._big Это благодарность стримеру от стрим-платформы и зрителей. «Агрессивное» продвижение канала приводит к продвижению и росту количества «благодарностей».
        a.btn(href="") Начать продвижение
    img.description__bg(src="img/banner-9.png" alt="")
