section.section.description._col-1-2.mb-20.inner
    .description__main
        h2.h1 О накрутке #[span.color STREAMRISE]
        .text._gray
            p В современном мире социальные сети стали неотъемлемой частью жизни. Люди, компании и сообщества полностью погрузились в онлайн-пространство. Сегодня трудно представить повседневность без телефона или компьютера – ведь именно там хранятся наши самые важные моменты. Работа, дружба и отношения теперь поддерживаются через короткие сообщения. Для одних соцсети – это просто способ общения, а для компаний и лидеров мнений – инструмент для привлечения аудитории и развития сообществ. Современный заработок уже давно переместился в онлайн, и чем лучше ты понимаешь, как развиваться в цифровой среде, тем больше возможностей для успеха.
        a.btn(href="") Читать все
    img.description__bg(src="img/banner-8.png" alt="")