.tabs.mb-10.inner
    a.tab._active(href="") Зрители
    a.tab(href="") Фолловеры
    a.tab(href="") Просмотры
    a.tab(href="") Чат боты
section.section.mb-10
    .section__title.mb-4
        h2.h4 #[span.color Часовые] пакеты
    .product-slider.swiper-parent.inner
        .swiper._4-col
            .swiper-wrapper
                .product.swiper-slide
                    .product__title._blue Новичок
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._orange Опытный
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._purple Профи
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._green Легенда
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._blue Новичок
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination
section.section.mb-10
    .section__title.mb-4
        h2.h4 #[span.color Недельные] пакеты
    .product-slider.swiper-parent.inner
        .swiper._4-col
            .swiper-wrapper
                .product.swiper-slide
                    .product__title._blue Новичок
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._orange Опытный
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._purple Профи
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._green Легенда
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._blue Новичок
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination
section.section.mb-20
    .section__title.mb-4
        h2.h4 #[span.color Месячные] пакеты
    .product-slider.swiper-parent.inner
        .swiper._4-col
            .swiper-wrapper
                .product.swiper-slide
                    .product__title._blue Новичок
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._orange Опытный
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._purple Профи
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._green Легенда
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
                .product.swiper-slide
                    .product__title._blue Новичок
                    ul.list
                        li Безлимит на 24 часа
                        li Зрители генерируют просмотры
                        li С опцией паузы таймера
                        li Авторизованные зрители
                        li Хорошие никнеймы
                    .form
                        .form__item
                            .form__label Выбор количества часов
                            .range
                                input.range-input(type='text' data-grid-snap="true" data-min='1' data-max='24' data-step='1')
                        .form__item
                            .form__label Выбор количества
                            input.input(type="number" placeholder="От 5 до 1000")
                        .product__num 0.3₽
                        a.btn._full(href="") КУПИТЬ
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination