section.section.inner
    .section__title.mb-8
        h2.h2 #[span.color Каталог услуг] и цены на них
        p Полный список услуг с актуальными ценами – выбирайте лучшее для себя
    .services.mb-10
        .services__line
            a.service-icon._twitch(href="")
                img(src="img/twitch.svg" alt="")
            a.service-icon(href="")
                img(src="img/trovo.png" alt="")
            a.service-icon._kick(href="")
                img(src="img/kick.png" alt="")
        .services__line._mini
            a.service-icon._mini(href="")
                img(src="img/youtube.png" alt="")
            a.service-icon._mini._discord(href="")
                img(src="img/discord.png" alt="")
            a.service-icon._mini._dlive(href="")
                img(src="img/dlive.svg" alt="")
            a.service-icon._mini(href="")
                img(src="img/tiktok.png" alt="")
            a.btn._alt(href="") СМОТРЕТЬ ВСЕ СЕРВИСЫ