section.section
    .section__title.mb-8
        h2.h2 Полностью автоматическая #[br]#[span.color панель управления]
    .full-video
        video(poster="")
            source(src="img/video.mp4" type="video/mp4")
        a.full-video__btn(href="")
            i.icon.icon-play
            i.icon.icon-pause