.tabs-alt
    .tab-alt._active Описание
    .tab-alt ОТЗЫВЫ (6)
.block-bg._bg6.inner.mb-20.decor.description._col-3-1
    img.decor__img._bg23.rellax(src="img/fig-8.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5")
    .description__main
        .h3 #[span.color Отзывы] (6)
        .grid._col-2._gap-100
            p Ваш канал не могут забанить, иначе любой мог бы забанить любой канал. Ваш канал не могут забанить, иначе любой мог бы забанить любой канал. Ваш канал не могут забанить, иначе любой мог бы забанить любой канал. Ваш канал не могут забанить, иначе любой.
            ul.list
                li Безлимит на 24 часа
                li Зрители генерируют просмотры
                li С опцией паузы таймера
                li Авторизованные зрители
                li Хорошие никнеймы
    .text._bg2
        h3 Пример ссылки:
        p https://www.twitch.tv/****
        p Только подключение в чате трансляции. Не даёт прироста в количестве зрителей
.block-bg._bg6.inner.mb-20.decor
    img.decor__img._bg23.rellax(src="img/fig-8.png" alt="" data-rellax-speed="5" data-rellax-percentage="0.5")
    .h3.mb-4 #[span.color Описание] услуги
    .feedback-slider.swiper-parent.mb-10
        .swiper._3-col
            .swiper-wrapper
                .swiper-slide.feedback._alt
                    .feedback__name
                        img.feedback__avatar(src="img/man.png" alt="")
                        .feedback__title
                            b StreamMasterX
                            img.feedback__rating(src="img/star-5.svg" alt="")
                    p Сначала сомневался, но решил попробовать и не пожалел! Зрители начали заходить уже через пару минут, чат стал активнее, а стрим выглядел гораздо живее. Благодаря этому, ко мне зашли и реальные зрители.
                .swiper-slide.feedback._alt
                    .feedback__name
                        img.feedback__avatar(src="img/man.png" alt="")
                        .feedback__title
                            b StreamMasterX
                            img.feedback__rating(src="img/star-5.svg" alt="")
                    p Сначала сомневался, но решил попробовать и не пожалел! Зрители начали заходить уже через пару минут, чат стал активнее, а стрим выглядел гораздо живее. Благодаря этому, ко мне зашли и реальные зрители.
                .swiper-slide.feedback._alt
                    .feedback__name
                        img.feedback__avatar(src="img/man.png" alt="")
                        .feedback__title
                            b StreamMasterX
                            img.feedback__rating(src="img/star-5.svg" alt="")
                    p Сначала сомневался, но решил попробовать и не пожалел! Зрители начали заходить уже через пару минут, чат стал активнее, а стрим выглядел гораздо живее. Благодаря этому, ко мне зашли и реальные зрители.
                .swiper-slide.feedback._alt
                    .feedback__name
                        img.feedback__avatar(src="img/man.png" alt="")
                        .feedback__title
                            b StreamMasterX
                            img.feedback__rating(src="img/star-5.svg" alt="")
                    p Сначала сомневался, но решил попробовать и не пожалел! Зрители начали заходить уже через пару минут, чат стал активнее, а стрим выглядел гораздо живее. Благодаря этому, ко мне зашли и реальные зрители.
        .swiper-button-prev
        .swiper-button-next
    .grid._gap-40
        .h3 #[span.color Оставте] свой отзыв
        .grid._gap-20
            .rating-input
                .rating-input__label Оценка
                .rating__stars
                    input(type="radio" name="rating" id="star5")
                    label(for="star5")
                        i.icon.icon-star
                    input(type="radio" name="rating" id="star4")
                    label(for="star4")
                        i.icon.icon-star
                    input(type="radio" name="rating" id="star3")
                    label(for="star3")
                        i.icon.icon-star
                    input(type="radio" name="rating" id="star2")
                    label(for="star2")
                        i.icon.icon-star
                    input(type="radio" name="rating" id="star1")
                    label(for="star1")
                        i.icon.icon-star
            textarea.input(placeholder="Введите ваш коментарий")
        button.btn ОТПРАВИТЬ