extends ../layout/layout
block title
    | index
block head
block content
    .card-page
        .card-page__inner
            include _card
            include _tabs
        include ../index/_products
block end

