extends ../layout/layout
block title
    | index
block head
block content
    .card-page._pt
        .card-page__inner.inner
            include _card
            include _tabs
        include ../index/_products
block end

