+widescreen()
  .page-banner
    padding-right: 60%
    img
      right: 2rem
  .page-body
    grid-template-columns: initial

+notebook()
  .inner._pt
    padding-top: 12rem
  .page-header
    margin-bottom: 4rem

+tablet()
  .page-banner
    min-height: initial

  .section
    &__title
      p
        font-size: 16px
    &__header
      align-items: flex-end

+mobile()
  .page-banner
    padding: 0
    img
      position: static
      justify-self: center

  .section
    &__header
      display: grid
  .page-header
    display: grid
    justify-items: start

+small-mobile()
  .inner._pt
    padding-top: 9rem
  .page-header
    margin-bottom: 3rem
    gap: 2rem
  .mob-full
    margin: 0 calc(0px - var(--offset))
    width: calc(100% + var(--offset) * 2)