+widescreen()
  .page-banner
    padding-right: 60%
    &._alt
      img
        right: 0
    img
      right: 2rem
  .page-body
    grid-template-columns: initial

+notebook()
  .no-nb
    display: none
  .inner._pt
    padding-top: 12rem
  .page-header
    margin-bottom: 4rem

+tablet()
  .no-tablet
    display: none
  .page-banner
    min-height: initial
    padding-top: 0
    &._alt
      padding-right: 0
      img
        display: none

  .section
    &__title
      p
        font-size: 16px
    &__header
      align-items: flex-end

+mobile()
  .page-banner
    padding: 0
    img
      position: static
      justify-self: center

  .section
    &__header
      display: grid
  .page-header
    display: grid
    justify-items: start

+small-mobile()
  .inner._pt
    padding-top: 9rem
  .page-header
    margin-bottom: 3rem
    gap: 2rem