.popup(data-popup="services")
    .popup__scroll
        .popup__content._bg.block-bg._bg4
            .grid._gap-40.relative
                .popup__close
                    i.icon.icon-close
                .h3-alt Все #[span.color сервисы]
                .services__grid
                    a.service-icon._mini.twitch-bg-fill(href="")
                        img(src="img/twitch.svg" alt="")
                    a.service-icon._mini.kick-bg-fill(href="")
                        img(src="img/kick.png" alt="")
                    a.service-icon._mini.discord-bg-fill(href="")
                        img(src="img/discord.png" alt="")
                    a.service-icon._mini(href="")
                        img(src="img/trovo.png" alt="")
                    a.service-icon._mini(href="")
                        img(src="img/youtube.png" alt="")
                    a.service-icon._mini.dlive-bg-fill(href="")
                        img(src="img/dlive.svg" alt="")
                    a.service-icon._mini(href="")
                        img(src="img/tiktok.png" alt="")
                    a.service-icon._mini(href="")
                        img(src="img/telegram.png" alt="")
                    a.service-icon._mini(href="")
                        img(src="img/instagram.png" alt="")
