doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

.category Список страниц
    a.link-test(href="index.html") Главная
    a.link-test(href="twitch.html") twitch
    a.link-test(href="kick.html") kick
    a.link-test(href="twitch-viewers.html") twitch-viewers
    a.link-test(href="twitch-bots.html") twitch-bots
    a.link-test(href="twitch-views.html") twitch-views
    a.link-test(href="twitch-followers.html") twitch-followers
    a.link-test(href="order.html") order
    a.link-test(href="contacts.html") contacts
    a.link-test(href="article.html") article
    a.link-test(href="articles.html") articles
    a.link-test(href="card.html") card
    a.link-test(href="reviews.html") reviews

style.
    .link-test {
        display: block;
        font-size: 22px;
        color: cadetblue;
        margin: 5px auto;
        text-align: center;
        text-decoration: none;
    }
    .category {
        font-family: sans-serif;
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
    }
