+widescreen()
  .news
    padding: 3rem
    img
      margin: -3rem -3rem 0 -3rem
      max-width: calc(100% + 6rem)
    .h3-alt
      font-size: 2rem

  .news-block
    padding: 4rem

  .news-list
    gap: 3rem

  .news-slider
    .swiper-button-prev
      left: -2rem
    .swiper-button-next
      right: -2rem

+notebook()
  .news
    &._big
      grid-column: initial

  .news-list
    grid-template-columns: 1fr 1fr

  .news-block
    gap: 3rem

+tablet()
  .news-block
    padding: 3rem var(--offset)
  .news-list
    gap: 2rem
    .h3-alt
      font-size: 18px

+mobile()
  .news-slider
    margin-left: calc(0px - var(--offset))
    width: calc(100% + var(--offset) * 2)
    .swiper-button-prev,
    .swiper-button-next
      display: none
    .swiper
      padding: 0 var(--offset)
  .news
    padding: 2rem

  .news-block
    gap: 2rem

+small-mobile()
  .news-list
    grid-template-columns: initial